@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  line-height: 1.5rem;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-neutral-blue;
}

h1 {
  font-size: 2em;
  line-height: 2.25rem;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
h5 {
  font-size: 0.83em;
}
h6 {
  font-size: 0.75em;
}

textarea {
  font-family: inherit;
}

.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {
  height: 100% !important;
}
