.custom_calendar .react-datepicker__day {
  background-color: green;
  color: white !important;
  font-weight: bold;
  margin: 1px;
  max-width: 45px !important;
  width: 100%;
}

.custom_calendar .react-datepicker {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: none;
}

.custom_calendar .react-datepicker__week {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom_calendar .react-datepicker__triangle {
  display: none;
}

.custom_calendar .react-datepicker__day--highlighted-custom {
  background-color: silver !important;
  color: #8a8787 !important;
}
.custom_calendar .react-datepicker__day--highlighted-custom.start {
  background: linear-gradient(135deg, green 50%, silver 50%);
  color: white !important;
}
.custom_calendar .react-datepicker__day--highlighted-custom.end {
  background: linear-gradient(135deg, silver 50%, green 50%);
  color: white !important;
}

.custom_calendar .react-datepicker__day--keyboard-selected {
  border-radius: 0;
}

.custom_calendar .react-datepicker__day--in-range {
  background: silver;
  border-radius: 0;
}
.custom_calendar
  .react-datepicker__day--keyboard-selected.react-datepicker__day--range-end,
.react-datepicker__day--range-end.react-datepicker__day--in-range {
  background: linear-gradient(135deg, silver 50%, green 50%);
  border-radius: 0;
}

.custom_calendar .react-datepicker__month-container .react-datepicker__header {
  font-size: 1rem;
  background-color: #fff !important;
  padding: 20px;
  border-bottom: 0;
  padding-top: 10px;
}

.custom_calendar .react-datepicker__day--today {
  border-radius: 0;
}

.custom_calendar .react-datepicker__month-container {
  min-height: 260px;
}

.custom_calendar .partially-booked-date {
  border: none;
}

.busy-date {
  background: linear-gradient(135deg, silver 50%, green 50%);
}

.custom_calendar .react-datepicker__navigation {
  top: 50%;
}
.custom_calendar .react-datepicker__navigation-icon::before {
  border-color: rgb(12, 102, 228);
}
