.custom_calendar .react-datepicker__day {
  color: white;
  font-weight: bold;
  margin: 1px;
  border-radius: 5px;
}
.custom_calendar .react-datepicker__day:hover {
  background: green;
}

.custom_calendar .react-datepicker {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.custom_calendar .partially-booked-date {
  background: linear-gradient(135deg, #c85762 50%, green 50%);
  color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-clip: content-box;
  border: 1px solid transparent;
}

.custom_calendar .partially-booked-date-start {
  background: linear-gradient(135deg, green 50%, #c85762 50%);
  color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-clip: content-box;
  border: 1px solid transparent;
}

.custom_calendar .free-date {
  background-color: green;
  color: white !important;
}

.custom_calendar .booked-date {
  background-color: #c85762;
  color: white !important;
}

.custom_calendar .react-datepicker__week {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom_calendar .react-datepicker__triangle {
  display: none;
}

.custom_calendar .react-datepicker__month-container .react-datepicker__header {
  font-size: 1rem;
  background-color: #fff !important;
  padding: 20px;
  border-bottom: 0;
  padding-top: 10px;
}

.custom_calendar .react-datepicker__month-container {
  min-height: 260px;
}

.container_color {
  display: flex;
  align-items: center;
  padding: 20px;
}

.free {
  width: 30px;
  height: 30px;
  background-color: green;
}

.text-style {
  margin: 0 10px;
}

.occupied {
  width: 30px;
  height: 30px;
  background-color: #c85762;
}

.arrival-departure {
  width: 30px;
  height: 30px;
  background: linear-gradient(135deg, #c85762 50%, green 50%);
}

.custom_calendar .partially-booked-date {
  border: none;
}
