.slide:nth-child(1) {
  transform: rotate(-1.2146deg) scale(0.96798);
}
.slide:nth-child(2) {
  transform: rotate(1.74783deg) scale(0.956676);
}
.slide:nth-child(3) {
  transform: rotate(-0.467736deg) scale(0.987722);
}
.slide:nth-child(4) {
  transform: rotate(1.89538deg) scale(0.948247);
}
.slide:nth-child(5) {
  transform: rotate(-1.87681deg) scale(0.944879);
}
